
<div ng-init = "findFirm()">
<div class = "col-sm-offset-1 col-sm-4">
	<h4>Faktura</h4>
	<form name = "fakturaSent" method = "POST">
	<div class="d-inline">
		<label class="control-label">Naziv dobavljaca</label>
		<input type = "text" class = "form-control" ng-model = "faktura.nazivDobavljaca" required disabled/>
	</div>
	<div>
		<label class="control-label">Adresa dobavljaca</label>
		<input type = "text" class = "form-control" ng-model = "faktura.adresaDobavljaca" required disabled/>
	</div>
	<div>
		<label class="control-label">Pib dobavljaca</label>
		<input type = "text" class = "form-control" ng-model = "faktura.pibDobavljaca" required disabled/>
	</div>
	<div><button class = "btn" ng-click = "openModal()">Dodaj kupca</button></div>
	
	<div>
		<label class="control-label">Naziv kupca</label>
		<input type = "text" class = "form-control" ng-model = "faktura.nazivKupca" required disabled/>
	</div>
	<div>
		<label class="control-label">Adresa kupca</label>
		<input type = "text" class = "form-control" ng-model = "faktura.adresaKupca" required disabled/>
	</div>
	<div>
		<label class="control-label">Pib kupca</label>
		<input type = "text" class = "form-control" ng-model = "faktura.pibKupca" required disabled/>
	</div>
	<div>
		<label class="control-label">Uplata na racun</label>
		<input type = "text" class = "form-control" ng-model = "faktura.uplataNaRacun" required disabled/>
	</div>
	<div>
		<label class="control-label">Broj racuna</label>
		<input type = "text" class = "form-control" name = "brojRacuna" ng-model = "faktura.brojRacuna" ng-pattern = "/^\d{6}$/" required />
		<span ng-show="fakturaSent.brojRacuna.$error.pattern" style="color:red">Nevalidan broj racuna(broj racuna = 123456)</span>
	</div>
	<div>
		<label class="control-label">Datum racuna</label>
		<input type = "date" class = "form-control" ng-model = "faktura.datumRacuna" required/>
	</div>
	<div>
		<label class="control-label">Vrednost robe</label>
		<input type = "number" class = "form-control" ng-model = "faktura.vrednostRobe" required/>
	</div>
	<div>
		<label class="control-label">Vrednost usluga</label>
		<input type = "number" class = "form-control" ng-model = "faktura.vrednostUsluga" required/>
	</div>
	<div>
		<label class="control-label">Ukupno roba i usluge</label>
		<input type = "text" class = "form-control" ng-model = "faktura.ukupnoRobaIUsluge" required/>
	</div>
	<div>
		<label class="control-label">Ukupan rabat</label>
		<input type = "number" class = "form-control" ng-model = "faktura.ukupanRabat" required/>
	</div>
	<div>
		<label class="control-label">Ukupan porez</label>
		<input type = "number" class = "form-control" ng-model = "faktura.ukupanPorez" required/>
	</div>
	<div>
		<label class="control-label">Oznaka valute</label>
		<input type = "text" class = "form-control" name = "oznakaValute" ng-model = "faktura.oznakaValute" ng-pattern = "/^\w{3}$/" required/>
		<span ng-show="fakturaSent.oznakaValute.$error.pattern" style="color:red">Nevalidna oznaka(validna oznaka = abc)</span>
	</div>
 	<div>    
		<label class="control-label">Iznos za uplatu</label>
		<input type = "number" class = "form-control" ng-model = "faktura.iznosZaUplatu" disabled />
	</div>

	<div>
		<label class="control-label">Datum valute</label>
		<input type = "date" class = "form-control" ng-model = "faktura.datumValute" required/>
	</div>
	
	
	<button class = "btn" ng-click = "dodajStavku()" ng-disabled = "fakturaSent.$invalid">Dodaj stavku</button>
	<button class = "btn" ng-click = "sendFaktura()" ng-disabled = "fakturaSent.$invalid">Posalji</button>
		
</form>
</div>
	 
<div ng-if = "dodajStavkuDiv" class = "col-sm-offset-2 col-sm-4">
	<h4>Stavka fakture</h4>
	<form name = "formaStavke">
	<div>
		<label>Redni broj</label>
		<input type = "number" class = "form-control" ng-model = "stavka.redniBroj" ng-pattern = "/^\d{3}$/" min="111" max="999"  required/>
		<span ng-show="fakturaSent.oznakaValute.$error.pattern" style="color:red">Nevalidan redni broj(validna oznaka = 123)</span>
	</div>
	<div>
		<label>Naziv robe ili usluge</label>
		<input type = "text" class = "form-control" ng-model = "stavka.nazivRobeIliUsluge" required/>
	</div>
	<div>
		<label>Kolicina</label>
		<input type = "number" class = "form-control" ng-model = "stavka.kolicina" ng-blur = "promeniVrednost(stavka)" required/>
	</div>
	<div>
		<label>Jedinica mere</label>
		<input type = "text" class = "form-control" ng-model = "stavka.jedinicaMere" required/>
	</div>
	<div>
		<label>Jedinicna cena</label>
		<input type = "number" class = "form-control" ng-model = "stavka.jedinicnaCena" ng-blur = "promeniVrednost(stavka)" required/>
	</div>
	<div>
		<label>Vrednost</label>
		 <input type = "text" class = "form-control" ng-model = "stavka.vrednost" disabled required/>		
	</div>
	<div>
		<label>Procenat rabata</label>
		<input type = "number" class = "form-control" ng-model = "stavka.procenatRabata" required/>
	</div>
	<div>
		<label>Iznos rabata</label>
		<input type = "number" class = "form-control" ng-model = "stavka.iznosRabata" required/>
	</div>
	<div>
		<label>Umanjeno za rabat</label>
		<input type = "number" class = "form-control" ng-model = "stavka.umanjenoZaRabat" required/>
	</div>
	<div>
		<label>Ukupan porez</label>
		<input type = "number" class = "form-control" ng-model = "stavka.ukupanPorezStavka" required/ >
	</div>
	<button class = "btn" ng-click = "dodajStavkuFakture(stavka)" ng-disabled = "formaStavke.$invalid">Dodaj</button>
	</form>
</div> 
	

</div>

<div id="myModal" class="modal">
	  	<div class="modal-content">
	    	<h3>Countries</h3><hr/><br/>
	    
	    	<table ng-init = findAllFirms() ng-table="stateTable" class="table table-bordered " border="1">
				<tr>
					<th>Code:</th>
					<th>Name:</th>
				</tr>
				<tr class="state" ng-repeat="firm in firms" ng-click = "setSelectedFirm(firm)" ng-class = "{selected:firm === selectedFirm}">
					<td>
						{{firm.name}}
					</td>
			
					<td>
						{{firm.pibFirm}}
					</td>
					<td>
						{{firm.address}}
					</td>
				</tr>
			</table>		
			<button type = "button" ng-click=okModal() class="btn btn-default navbar-btn">OK</button></center>
			<button type = "button" ng-click=cancelModal() class="btn btn-default navbar-btn">Cancel</button></center>
			
	 		</div>
		</div>	